@page "/"
@inject IJSRuntime JsRuntime
@using FRSP2022Redo.Components

<div class="container">
    <div class="auto-title title">Auto</div>
    <div class="auto-upper-cargo main">
        <Counter Title="Upper Cargo"/>
    </div>
    <div class="auto-lower-cargo main">
        <Counter Title="Lower Cargo"/>
    </div>
    <div class="tarmac main">
        Tarmac
    </div>
    <div class="teleop-points title">
        Teleop Points
    </div>
    <div class="tele-upper-cargo main">
        <Counter Title="Upper Cargo"/>
    </div>
    <div class="tele-lower-cargo main">
       <Counter Title="Lower Cargo"/>
    </div>
    <div class="hangar-rung man">
        Hangar Rung
    </div>
    <div class="teleop-bonus title">
        Teleop Bonus
    </div>
    <div class="cargo-bonus main">
        Cargo Bonus
    </div>
    <div class="hangar-bonus main">
        Cargo Bonus
    </div>
    <div class="info main">
        Info
    </div>
</div>

@code
{
    private string? GreetInput { get; set; }

    private string? GreetMsg { get; set; }

    private async Task GreetAsync()
    {
        GreetMsg = await JsRuntime.InvokeAsync<string>("__TAURI__.tauri.invoke", "greet", new { name = GreetInput });
    }
}
